body {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
}

nav {
    background-color: #4CAF50;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFC107;
}

section {
    padding: 20px;
}

h1, h2, h3 {
    color: #4CAF50;
}
#imghead {
    width: 600px;
}
img {
    width: 400px;
    height: 300px;
}
#imgfeedback {
    width: 20px;
    height: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

textarea, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFC107;
}

.error {
    color: #FF0000;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

